@import "tailwindcss";

@theme {
    --font-playfair: 'Playfair Display Variable', 'DM Sans Variable', sans-serif;
    --font-dm-sans: 'DM Sans Variable', sans-serif;

    --color-crave-rosa: rgb(255, 202, 222);
    --color-crave-pastel: rgb(244, 244, 244);
    --color-crave-night: rgb(0, 0, 0);
}

body {
    font-family: var(--font-dm-sans);
    background-color: var(--color-crave-pastel);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

header {
    animation: header-scroll-bg 0.2s ease-in-out forwards;
    animation-timeline: scroll();
}

@keyframes header-scroll-bg {
    0% {
        background-color: var(--color-crave-pastel);
        backdrop-filter: blur(4px);
    }
    100% {
        background-color: rgba(244, 244, 244, 0.3);        
    }
}