<footer class="mt-20 w-full flex flex-col justify-center items-center min-h-screen bg-crave-night">
        <h2 class="font-playfair text-9xl my-4 text-center text-crave-pastel">
            Make sure you really crave it!
        </h2>
        <p class="text-lg text-center text-crave-pastel">
            We are the best and sweet experience in the entire city
        </p>
</footer>