<footer id="footer" class="mt-20 w-full flex flex-col justify-center items-center min-h-screen bg-crave-night">
        <h2 class="font-playfair text-9xl my-4 text-center text-crave-pastel">
            Make sure you really crave it!
        </h2>
        <p class="text-lg text-center text-crave-pastel">
            We are the best and sweet experience in the entire city
        </p>
        <a href="#bakery-menu" class="mt-10 px-4 py-2 bg-crave-rosa text-crave-night transition-all duration-300 ease-in-out hover:-translate-y-1 hover:shadow-xl shadow-crave-night/5">Check our Menu</a>
</footer>