---
import "../styles/global.css";
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/dm-sans";

import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import { Header } from "../components/Header";	
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Crave Bakery - Making sure you really crave it!</title>

		<meta property="og:title" content="Crave Bakery - Making sure you really crave it!" />
		<meta
			property="og:description"
			content="Crave Bakery is a patisserie located in the heart of London, renowned for crafting its products with only the finest ingredients"
		/>
		<meta property="og:image" content="https://bakery-crave-store.vercel.app/og.jpg" />
		<meta name="description" content="Crave Bakery is a patisserie located in the heart of London, renowned for crafting its products with only the finest ingredients">
		<meta name="keywords" content="Crave Bakery, London, patisserie, finest ingredients">
		<meta name="author" content="Naissky">

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@crave_bakery" />
		<meta name="twitter:title" content="Crave Bakery - Making sure you really crave it!" />
		<meta name="twitter:description" content="Crave Bakery is a patisserie located in the heart of London, renowned for crafting its products with only the finest ingredients" />
		<meta name="twitter:image" content="https://bakery-crave-store.vercel.app/og.jpg" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<ClientRouter />
	</head>
	<body>
		<Header client:load />
		<main class="flex flex-col justify-center items-center">
			<slot />
		</main>
		<Footer />
	</body>
</html>
